# This is Git's per-user configuration file.
[user]
name = Tiziano Plaiy
email = tiziano.plaiy@gmail.com

[alias]
  aa = add --all
  co = checkout
  cob = checkout -b
  pf = push --force-with-lease
  ca = commit --amend

  ri = rebase -i
  rc = rebase --continue
  ra = rebase --abort
  ro = rebase --onto

  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue

  cleanup = !git remote prune origin && git gc && git clean -df && git stash clear

  last = log -1 HEAD

[commit]
  gpgSign = true

[merge]
  conflictStyle = diff3

[init]
	defaultBranch = main

[fetch]
	prune = true

[core]
	excludesfile = /Users/plaiytiziano/.gitignore
