# This is Git's per-user configuration file.
[user]
name = PlaiyTiziano
email = tiziano.plaiy@gmail.com

[alias]
  aa = add --all
  co = checkout
  cp = cherry-pick
  pf = push --force
  ca = commit --amend
  ri = rebase -i
  rc = rebase --continue
  ra = rebase --abort

  cleanup = !git remote prune origin && git gc && git clean -df && git stash clear

  last = log -1 HEAD
[init]
	defaultBranch = main
[fetch]
	prune = true
[core]
	excludesfile = /Users/plaiytiziano/.gitignore
